<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-button>
          Back
        </ion-button>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ workout.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ workout.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div >
    <ion-grid >

      <ion-row  *ngFor="let exercise of workout.exercise; let indexExercise = index">
        <ion-col>

          <ion-row class="ion-padding-horizontal">
            <ion-col>
              <p style="color: var(--ion-color-dark-contrast); font-size: 18px">{{ exercise.name }}</p>
            </ion-col>
          </ion-row>
          <ion-row class="ion-padding-horizontal">
            <ion-col size="3">
              <ion-label>Sets</ion-label>
            </ion-col>
            <ion-col size="6">Weight(kg)</ion-col>
            <ion-col>Reps</ion-col>
          </ion-row>
          <ion-row *ngFor="let sets of exercise.sets; let indexSets = index">

              <ion-item  style="margin: 0vh -2vh;  transition: 2s; --inner-border-width: 0 !important;"  class="ion-padding-horizontal">
                <ion-col size="2">
                  <ion-label >{{indexSets+1}}</ion-label>
                </ion-col>
                <ion-col size="1">
                </ion-col>
                <ion-col >
                  <ion-input [(ngModel)]="workout.exercise[indexExercise].sets[indexSets].reps" [disabled]="workout.exercise[indexExercise].sets[indexSets].checked == true" placeholder="000"maxlength="3" type="tel"  value="2"></ion-input>
                </ion-col>
                <ion-col >
                  *
                </ion-col>
                <ion-col >
                  <ion-input [(ngModel)]="workout.exercise[indexExercise].sets[indexSets].kg"  [disabled]="workout.exercise[indexExercise].sets[indexSets].checked == true" placeholder="000" maxlength="3" type="tel" value="2"></ion-input>
                </ion-col>
              </ion-item>

          </ion-row>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
